/*@import 'core/variables';
/*@import 'core/reset';/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/


/* reset styles */

* {
    box-sizing: border-box;
    font-family: Circular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  body {
    margin: 0;
  }
  
  /* header */
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
  }
  .hero-title {
    margin-top: 50px;
  }
  .logo {
    height: 30px;
  }
  .nav{
    display: none;
  }
  .list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .link {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .link:hover {
    color: #4bb84a;
  }
  
  .link-signup:before {
    padding-left: 4px;
    content: '|';
    color: white;
  }
  
  /* main */
  
  .main {
    margin-top: 60px; /* esto es lo que mide el header */
  }
  
  /* hero area */
  
  .hero {
    padding: 60px 30px 30px 30px;
    background-color: #0691ff;
    color: white;
    height: 50vh;
  }
  
  .hero-title {
  
    max-width: 600px;
    font-size: 3rem;
    line-height: 55px;
  }
  
  .hero-subtitle {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  .hero-plans {
    display: inline-block;
    margin-top: 30px;
    padding: 5px 25px;
    border-radius: 50px;
    background-color: #4bb84a;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  
  .hero-policy {
    display: block;
    margin-top: 30px;
    font-size: 10px;
  }
  
  /* benefits area */
  
  .benefits-title {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
  }
  
  .benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px auto;
    max-width: 400px;
  }
  
  /* benefit item */
  
  .benefit {
    display: flex;
    align-items: left;
    padding: 10px;
  }
  
  .benefit-img {
    margin: 15px;
    width: 100px;
  }
  
  .benefit-title {
    font-size: 1.25rem;
    line-height: 25px;
  }
  
  /* footer */
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    background-color: black;
  }
  
  .footer,
  .footer * {
    font-size: 10px;
    color: #999;
  }
  
  .footer-menu-links:hover {
    color: white;
  }
  
  .footer-menu-items {
    display: inline-block;
  }
  
  .footer-menu-links {
    display: inline-block;
    padding: 7px;
  }
  
  /* copy */
  
  .copy {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
  .copy-year {
    margin-top: 5px;
  }
  
  .copy-spain-flag {
    margin-left: 5px;
    height: 15px;
    vertical-align: text-bottom;
  }
  
  /* media queries */
  
  @media all and (min-width: 768px) {
  
    .hero {
      background-image: url(../images/premium-dancer.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
    }
    .hamb{
      display: none;
    }
    .nav{
      display: block;
    }
    .hero-title {
      margin-top: 100px;
    }
    .benefits {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 700px;
    }
  
    .benefit {
      width: 50%;
    }
  }
  
  @media all and (min-width: 1200px) {
    .benefits {
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 1000px;
    }
  
    .benefit {
      display: block;
    }
  }
  